@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
#top-banner {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size :2em;
    font-weight: 900;
    padding:1.5vh;
    justify-content: space-evenly;
    transition: background 0.3s;
}

body {
    background-size: cover;
    margin:0;
    background-color: black;
    align-content: center;
}

#status-bar {
    font-family:'Noto Sans', sans-serif;
    background-color: white;
    color: maroon;
    display: flex;
    font-size: 120%;
    font-weight: 600;
    justify-content: space-evenly;
}

.inactive {
    color: rgb(182, 106, 106);
}
#game{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.row{
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
   
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tile{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 10%;
    margin: 0 2vw;
    transition: transform 0.2s background 0.3s;
}
.tile:hover
{
    transition: background 0.2s;
    transform:scale(1.05);
}
#new, .mode{
    cursor: pointer;
}

#new, .mode>span {
    padding: 0 5px;
}

#new:hover, .mode>span:hover {
    background-color: black;
    color: white;
}